:root {
  --color-main: #4aa73e;
  --color-second: #9d0a0e;
  --color-button: #d68100;
  --color-title: #125370;
  --light-blue: #26abc1;
  --color-info: #125370;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}



#lc-plugin-wrap {

}

#lc-plugin-wrap h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {

}

#lc-plugin-wrap strong {

  color: #222;
}

.btn {
  font-size: 14px;
  background: #eee;
  color: #333;
  padding: 10px 16px 10px 16px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.2s linear;
  display: inline-block;
  line-height: 1;
}

.btn-primary {
  background: var(--color-second);
  color: #fff;
}

.btn-sm {
  padding: 5px 10px;
}

#section-register .container {
  width: 800px;
  max-width: 100%;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0;

  border-radius: 5px;
}

#section-register h1 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 500;
  margin-bottom: 0;
}

.register-head {
  border-bottom: 1px solid #eee;
  padding: 15px;

  background-image: linear-gradient(to right, #ed1a24, #9d0a0e);
  border-radius: 5px 5px 0 0;
}

.register-form {
  padding: 30px;
}

#lc-plugin-wrap .form-control {
  box-shadow: none;
  border-radius: 5px;
  height: 45px;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  border: 1px solid #ccc;
  width: 100%;
  padding: 15px;
}

#lc-plugin-wrap select.form-control {
  height: auto;
  padding: 10px;
}

#lc-plugin-wrap .form-control:focus,
#lc-plugin-wrap .form-control:active {
  box-shadow: none;
  border: 1px solid var(--color-main);
}

#lc-plugin-wrap .lc-form-inner>*:not(:last-child) {
  margin-bottom: 30px;
}

.form-item-head {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.form-item>*:not(:last-child) {
  margin-bottom: 15px;
}

#lc-plugin-wrap .form-item-wrap>*:not(:last-child) {
  margin-bottom: 15px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

#lc-plugin-wrap label {
  margin-bottom: 0;
  color: gray;
  cursor: pointer;
}

#accountType .form-item-body>*:not(:first-child) {
  margin-left: 30px;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.account-type-item {
  display: none;
}

.account-type-item.active {
  display: block;
}

.row-2 {
  --f-columns: 2;
  --f-gap: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}

.row-2>* {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc((100% / var(--f-columns) - var(--f-gap)));
}

.row-2.row-mb-0>* {
  margin-bottom: 0;
}

#lc-plugin-wrap select.form-control {
  padding-left: 15px;
  padding-right: 15px;
}

#lc-plugin-wrap .form-group>*:not(:last-child) {
  margin-bottom: 10px;
}

.form-item-head h3 {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 18px;
}

#lc-plugin-wrap input[type="file"] {
  display: none;
}

.btnUploadIdentify {
  width: 100%;
  color: var(--color-main) !important;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
  border: 1px solid var(--color-main);
}

.btnUploadIdentify:hover {
  background: var(--color-main);
  color: #fff !important;
}

.identify-note {
  width: 100%;
  border: 1px dashed;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  background: #eee;
  color: var(--color-button);
}

#lc-plugin-wrapper .identify-note>*:not(:last-child) {
  margin-bottom: 10px;
}

.identify-note p {
  margin-bottom: 0;
}

#lc-plugin-wrap .error {
  color: #ff0000;
  font-weight: 300;
}

.form-control.error {
  border-color: #ff0000;
}

#lc-plugin-wrap input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-bottom: 0 !important;
  margin-right: 10px;
}

#anotherBank {
  display: none;
}

#orderDesc p {
  font-size: 14px;
  margin-bottom: 0 !important;
}

#lc-plugin-wrap #orderDesc .form-item-body>*:not(:last-child) {
  margin-bottom: 10px !important;
}

#lc-plugin-wrap #orderDesc .form-item-body a {
  color: var(--color-main);
}

.mr-30 {
  margin-right: 30px;
}

#lc-plugin-wrap input[type="checkbox"],
#lc-plugin-wrap input[type="radio"] {
  margin-bottom: 0 !important;
}

.form-checkbox-item:not(:last-child) {
  margin-bottom: 10px;
}

.trade-title {
  font-weight: 600;
  color: #333;
}

.identify-front-preview,
.identify-back-preview {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-top: 15px;
  border-radius: 5px;

}

#lc-plugin-wrap .form-control.error:focus,
#lc-plugin-wrap .form-control.error:active {
  color: #ff0000;
  border: 1px solid #ff0000;
}

#listTrade {
  display: none;
}

#btnLogin {
  background: var(--color-main);
  margin: auto;
  display: inline-block;
}

.swal-footer {
  text-align: center;
}

.swal-button {
  padding: 10px 20px;
  line-height: 1;
  background: var(--color-main);
}

.nav-small.nav>li.html a {
  font-size: 13px;
	color: white;
}

.nav-line-bottom>li:hover>a:before,
.nav-line-grow>li:hover>a:before,
.nav-line-bottom>li.active>a:before,
.nav-line-grow>li.active>a:before,
.nav-line>li.active>a:before,
.nav-line>li:hover>a:before {
  opacity: 0;
}

.custom .authen-menu {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
}

.custom .authen-menu>* {
  margin-right: 10px;
}

.col-center .col {
  padding-bottom: 0 !important;
}

.col-center p {
  margin-bottom: 0;
}

.page-dashboard .container>*:not(:last-child) {
  margin-bottom: 30px;
}
.page-dashboard  h1 {
  color:var(--color-main);
  font-size: 22px;
  text-transform: uppercase;
}
.row-overview .col-inner {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border:1px solid #eee;
}
.overview-number > *:first-child {
  font-size: 30px;
  color:var(--color-main);
}
.page-dashboard {
  min-height: calc(100vh - 200px );
}
.page-dashboard a {
  color: var(--color-main);
  font-weight: normal;
}
.row-overview .col:not(:last-child) .col-inner {
  margin-bottom: 30px;
}
.downline-list > *:not(:last-child) {
  margin-bottom: 30px;
}

.downline-list table th {
  padding-bottom: 20px;
}
.downline-list table td {
  border: none;
  padding: 15px;
}

.downline-list table tbody tr:nth-child(odd) {
  background: #4aa73e0f;
}
.status-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.status-info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;

}
.status-badge {
  padding: 5px 15px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.dashboard-head {
  display: flex;
  align-items: center;
}

.dashboard-head h1 {
  margin-bottom: 0;
  width: 70%;
}

.dashboard-head .list-btn {
  flex: 1;
  text-align: right;
}
.dashboard-head  .btn {
  color:#fff;
  padding:15px 30px;
}
#lc-plugin-head {
  background: url('/wp-content/uploads/2022/10/commodity-trading-goes-back-to-the-future-1600x602.jpg.imgix_.banner.jpg');
  background-size: cover;
  padding:60px 0;
}
.lc-head-inner {
  text-align: center;
}

.lc-head-inner a {
  color: #Fff;
}
.lc-head-inner a:hover {
  color: var(--color-main);
  background: white !important;
}

.lc-head-inner > *:not(:first-child) {
  margin-left: 15px;
}
.lc-head-inner a.active {
  background: var(--color-main);
  padding: 15px;
  border-radius: 5px;
}